@use "./abstracts/variables" as *;

body {
  font-family: $font-family-default;
  font-style: normal;
  width: 100vw;
  height: 100vh;
}

@media(min-width: 769px) {
  body {
    overflow-x: hidden;

    button {
      cursor: pointer;
    }
  }
}