$color-brand: #0F52BA;
$color-grey-0: #000000;
$color-grey-1: #2C2C2C;
$color-grey-2: #373737;
$color-grey-7: #EEEEEE;
$color-white-fixed: #FFFFFF;
$radius-default:0.25rem;
$font-family-default: "Montserrat", sans-serif;